{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'app:dashboard' %}">{% translate 'Home' %}</a>
&rsaquo; {% translate 'Password reset' %}
</div>
{% endblock %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/dashboard.css' %}">
<style>
      .confirm-btn {
        border-radius: 20px;
        padding: 10px 20px;
        background-color: var(--primary-color);
        color: var(--border-color);
        border: none;
        font-size: 16px;
        cursor: pointer;
        width: 200px;
        display: block; /* Make the button a block-level element */
        margin: 0 auto; /* Center the button horizontally */
    }

    .confirm-btn:hover {
        background: var(--secondary-color);
        color: var(--text-color);
    }

    a {
        text-decoration: none;
    }
</style>
<p style="text-align: center;">{% translate "Your password has been set.  You may go ahead and log in now." %}</p>

<a href="{% url 'app:login' %}"><button type="button" class="confirm-btn">{% translate 'Log in' %}</button></a>

{% endblock %}