{% extends "base.html" %}
{% load i18n static %}

{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'app:dashboard' %}">{% translate 'Home' %}</a>
&rsaquo; {% translate 'Password reset confirmation' %}
</div>
{% endblock %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/dashboard.css' %}">
<style>
body {
  text-align: center;
}

form input[type="text"],
form input[type="email"],
form input[type="password"] {
    display: block;
    width: 70%;
    box-sizing: border-box;
    border-radius: 8px;
    border: 1px solid #c4c4c4;
    padding: 1em;
    margin-bottom: 1.25rem;
    font-size: 0.875rem;
    display: block;
    margin: 0 auto;
}

.submit-btn {
    border-radius: 20px;
    padding: 10px 11px;
    background-color: var(--primary-color);
    color: var(--border-color);
    border: none;
    font-size: 14px;
    cursor: pointer;
    width: 215px;
    display: block;
    margin: 0 auto;
}

.submit-btn:hover{
    background: var(--secondary-color);
    cursor: pointer;
}
</style>
<body>
{% if validlink %}

<h1>{% translate "Reset your password!" %}</h1>

<p>{% translate "create a new password for you account below" %}</p>
<form method="post">
  {% csrf_token %}
  <fieldset class="module aligned">
    <input type="hidden" autocomplete="username" value="{{ form.user.get_username }}">
    <div class="form-row field-password1">
      {{ form.new_password1.errors }}
      <div class="flex-container">
        <input type="password" id="id_new_password1" name="new_password1" class="password-input" placeholder="{% translate 'Enter your new password' %}">
      </div>
    </div>
    <br>
    <div class="form-row field-password2">
      {{ form.new_password2.errors }}
      <div class="flex-container">
        <input type="password" id="id_new_password2" name="new_password2" class="password-input" placeholder="{% translate 'Confirm your new password' %}">
      </div>
    </div>
  </fieldset>
  <br>
  <div class="submit-row">
    <input type="submit" value="{% translate 'Change my password' %}" class="submit-btn">
    <br>
    <a href="{% url 'app:login' %}" style="text-decoration: none;"><p style="color: var(--primary-color);"> Back to sign in</p></a>
  </div>
</form>



{% else %}

<p>{% translate "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</p>

{% endif %}
</body>
{% endblock %}