<!-- templates/registration/password_reset_form.html -->
{% extends 'base.html' %}
{% load static %}

{% block title %}Forgot Your Password?{% endblock %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/dashboard.css' %}">

<style>
  body {
    text-align: center;
    display: contents;
    align-items: center;
  }
  
  .confirm-btn {
        border-radius: 20px;
        padding: 10px 20px;
        background-color: var(--primary-color);
        color: var(--border-color);
        border: none;
        font-size: 16px;
        cursor: pointer;
        width: 200px;
    }

    .cancel-btn {
        border-radius: 20px;
        border: 1px red solid;
        background-color: white;
        color: black;
        padding: 10px 20px;
        cursor: pointer;
    }

    @media (max-width: 600px) {
        .cancel-btn::after {
            content: "Back";
        }

        .form-control {
          width: 85% !important; 
        }
    }

    @media (min-width: 601px) {
        .cancel-btn::after {
            content: "Back to Sign in";
        }
    }

    .form-control {
      width: 50%;
      position: relative;
      margin: 0 auto; 
    }
</style>
  
<body>
  <h1>Reset your password</h1>
  <p>Enter your email address you used to register with</p>

  <form method="POST">
    {% csrf_token %}
    <input type="email" name="email" id="email" class="form-control" placeholder="Enter your email">
    <br>
    <button type="button" class="cancel-btn"></button>
    <button type="submit" class="confirm-btn">Send instructions</button>
  </form>
</body>
{% endblock %}